{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>上传视频</title>
</head>
<body>
<div id="container">
    {% include 'nav.html' %}
    <!-- 二级导航 -->
    <div class="ui menu m-opacity-mini attached pointing">
        <div class="ui container">
            <div class="right menu">
                <a href="/seriesManage" class="item">电视剧管理</a>
                <a href="/videoManage" class="active m-theme-color item">视频管理</a>
            </div>
        </div>
    </div>

    {#  模态框，提示上传结果 #}
    <div class="ui mini modal" style="display: none">
        <div class="header">Header</div>
        <div class="actions">
            <div class="ui approve button">确定</div>
        </div>
    </div>

    <div class="m-padded-tb-large m-opacity main">
        <div class="ui container">
            <form class="ui form" method="post" action="/{{ op }}/">
                {% csrf_token %}    <!-- post请求需要设置跨域请求csrf_token，否则会报错forbidden -->
                <div class="required field">
                    <div class="ui left labeled input action">
                        <label class="ui compact blue basic label">剧名</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="sID" value="{{ video_obj.sID }}"/>
                            <i class="large dropdown icon"></i>
                            <div class="default text">
                                {% if video_obj.name != "" %}
                                    {{ video_obj.name }}（{{ video_obj.director }}）
                                {% else %}
                                    剧名
                                {% endif %}
                            </div>
                            <div class="menu">
                                {% for s in allSeries %}
                                    <div class="item" data-value="{{ s.sID }}">
                                        {{ s.name }}（ {{ s.director }} ）
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>视频地址</label>
                    <input type="hidden" name="path" value="{{ video_obj.path }}">    <!-- 视频路径 -->
                    <input type="hidden" name="uploadID" value="{{ video_obj.uploadID }}">    <!-- 上传id -->
                    <input type="hidden" name="vTime" required value="{{ video_obj.vTime }}">    <!-- 视频时长 -->

                    <input id="btnFileInput" type="file" style="display: none" accept="video/mp4">
                    <input id="fileInput" type="text" placeholder="从本地选择视频" readonly required
                           value="{{ video_obj.path }}">
                    <div class="ui mini icon message" id="msgUploading" style="display: none">
                        <i class="mini notched circle loading icon"></i>
                        <div class="content">
                            <div class="header">
                                正在上传...
                            </div>
                        </div>
                    </div>
                    <div class="ui mini message" style="display: none" id="msgUploadResult">
                        <div class="header">
                            上传结果
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>所在集数</label>
                    <input type="text" name="number" placeholder="只能是数字" required value="{{ video_obj.number }}">
                </div>
            {% if op == "videoAdd" %}
                <button class="ui teal button" type="submit" id="btnSubmit" disabled>保存</button>
                <button class="ui button" type="reset" id="btnReset" disabled>重置</button>
            {% else %}
                <button class="ui teal button" type="submit" id="btnSubmit">保存</button>
                <button class="ui button" type="reset" id="btnReset">重置</button>
            {% endif %}
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

{% include 'script.html' %}
<script src="{% static "/js/addVideo.js" %}"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>