{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>识图搜剧</title>
</head>

<body>
<div id="container">
    <!--导航-->
    {% include 'nav.html' %}

    <div class="ui mini modal" style="display: none">
        <div class="header">Header</div>
        <div class="actions">
            <div class="ui approve button">确定</div>
        </div>
    </div>

    <!-- 中间内容 -->
    <div class="m-padded-tb-large m-opacity main">
        <div class="ui container">
            <!-- 搜索栏 -->
            <form class="ui form" action="/search/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inline fields">
                    <div class="ten wide field">
                        <input id="urlInput" type="text" name="picName" placeholder="请选择要搜索的剧照（可以是网页图片url）"
                               value="{{ picName }}"/>
                        <input id="btnUpload" type="file" name="picture" style="display: none"
                               accept="image/png,image/jpg,image/jpeg">
                    </div>
                    <div class="three wide field">
                        <div id="divUpload" class="ui teal submit button" style="width: 90%">
                            本地上传
                            <i class="folder open icon"></i>
                        </div>
                    </div>

                    <div class="three wide field">
                        <button type="submit" id="btnSearch" class="ui blue submit button" style="width: 90%">搜索
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>

            </form>

            <!-- 搜索内容（左右布局） -->
            {% if picture %}
                <div id="content" class="ui grid m-opacity">
                    <!-- 左侧 -->
                    <div class="five wide column">
                        <div class="ui segments">
                            <!-- 搜索图片 -->
                            <div class="ui tertiary blue inverted secondary segment m-text-bold">
                                您搜索的图片
                            </div>
                            <div class="ui center aligned segment">
                                <img src="{% static path %}" alt="搜索图片预览" class="m-pic-preview">
                            </div>
                        </div>
                        <div class="ui segments">
                            <!-- 列举三个可能结果 -->
                            <div class="ui tertiary blue inverted secondary segment m-text-bold">
                                搜索结果
                            </div>
                            {% for result in results %}
                                <div class="ui segment m-result">
                                    <input type="hidden" value="{{ result }}" id="resVideo">
                                    <div class="ui grid">
                                        <div class="eight wide column">
                                            剧名：{{ result.video_obj.name }}
                                            <br/>
                                            <br/>
                                            集数：{{ result.video_obj.number }} / {{ result.video_obj.allNumber }}
                                            <br/>
                                            <br/>
                                            时间：{{ result.sTime }}
                                            <br/>
                                            <br/>
                                            相似度：{{ result.imgScore }}&nbsp;%
                                        </div>
                                        <div class="eight wide column">
                                            <img src="{% static result.shotPath %}" alt="可能的关键帧"
                                                 class="m-pic-preview">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 右侧 -->
                    <div class="eleven wide column">
                        <!-- 显示点击出现的可能的结果 -->
                        <div class="ui segments">
                            <div class="ui segment">
                                <video id="myVideo" src="" width="100%" height="90%" controls>

                                </video>
                            </div>
                            <div class="ui segment">
                                <h3>剧名：<span id="name"></span></h3>
                                <hr style="border:1px silver dotted"/>
                                <br/>
                                相似度：<span id="similar"></span>
                                <br/>
                                <br/>
                                导演：<span id="director"></span>
                                <br/>
                                <br/>
                                主演：<span id="starts"></span>
                                <br/>
                                <br/>
                                总集数：<span id="allNumber"></span>
                                <br/>
                                <br/>
                                所在集数：<span id="number"></span>
                                <br/>
                                <br/>
                                所在时间：<span id="sTime"></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
    <br/>
    <br/>

    <!-- 底部footer -->
    {% include 'footer.html' %}
</div>

{% include 'script.html' %}
<script src="{% static "/js/index.js" %}"></script>

</body>

</html>