{% load static %}
{% load calcNum %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>电视剧管理</title>
</head>

<body>
<div id="container">
    <!--导航-->
    {% include 'nav.html' %}

    <!-- 二级导航 -->
    <div class="ui menu m-opacity-mini attached pointing">
        <div class="ui container">
            <div class="right menu">
                <a href="/seriesManage" class="active m-theme-color item">电视剧管理</a>
                <a href="/videoManage" class="item">视频管理</a>
            </div>
        </div>
    </div>
    <!-- 中间内容 -->
    <div class="m-padded-tb-large m-opacity main">
        <div class="ui container">

            <div class="ui form segment">
                <!--                创建隐含域，存放page参数-->
                <input type="hidden" name="page"/>
                <div class="ui fluid action input">
                    <a class="ui teal button" href="/seriesManage/add">添加电视剧</a>
                    <div style="width: 100px"></div>
                    <form action="/seriesManage/search" class="ui inline field">
                        <input type="text" placeholder="剧名 / 导演" name="searchWords" value="{{ searchWords }}">
                        <button class="ui blue button" type="submit">搜索</button>
                    </form>
                </div>
            </div>

            <div id="table-container">
                <table class="ui table celled">
                    <thead>
                    <tr>
                        <th></th>
                        <th>剧名</th>
                        <th>导演</th>
                        <th>主角</th>
                        <th>全集数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in series %}
                        <tr>
                            <td>{{ forloop.counter | calcNum:series.number }}</td>
                            <td>{{ s.name }}</td>
                            <td>{{ s.director }}</td>
                            <td>{{ s.starts }}</td>
                            <td>{{ s.allNumber }}</td>
                            <td>
                                <a href="/seriesManage/edit?sID={{ s.sID }}"
                                   class="mini basic ui teal button">编辑</a>
                                <a href="/seriesManage/remove?sID={{ s.sID }}"
                                   class="mini basic ui red button">删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <th colspan="8">
                        <div class="ui secondary menu">
                            {% if series.has_previous %}

                                <a href="?searchWords={{ searchWords }}&page={{ series.previous_page_number }}"
                                   class="ui blue basic item button">上一页</a>

                            {% endif %}


                            <div class="item">
                                {{ series.number }}&nbsp;页&nbsp;&nbsp;/&nbsp;&nbsp;共&nbsp;{{ series.paginator.num_pages }}&nbsp;页
                            </div>

                            {% if series.has_next %}

                                <a href="?searchWords={{ searchWords }}&page={{ series.next_page_number }}"
                                   class="ui blue basic item button">下一页</a>

                            {% endif %}
                        </div>
                    </th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<br/>
<br/>

<!-- 底部footer -->
{% include 'footer.html' %}

{% include 'script.html' %}
</body>

</html>